<div class="navbar">
  <div class="container">
    <div class="navbar-header">
      <a type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
      <a href="/" class="navbar-brand"><span>Makoto Museum</span></a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#gallery">Gallery</a></li>
        <li><a href="/#about">About</a></li>
      </ul>
    </div>
  </div>
</div>
